* {
	font-size: 12px;
	color: #cdd6f4;
	font-weight: 500;
	font-family: "JetBrainsMono NFP";
	margin: 0;
	padding: 0;
	top: 0;
}
.clock-widget {
	color: #dbd1c0;
}


.whkd-widget {
    margin-right: 50px;
}

.yasb-bar {
    background-color: #292929;
    border-radius: 0px;
    /* border: 1px solid var(--border-color); */
	padding: 0;
	margin: 0;
	top: 0;
}

.widget {
	background-color: #292929;
	padding: 0 8px;
	margin: 0;
}
.widget .label {
	padding: 1px 2px 1px 2px;
}
.widget .label.alt {
	padding: 1px 8px 1px 8px;
}
.active-window-widget {
	border-radius: 18px;
	margin-left: 8px
}
.container-left,
.container-center,
.container-right {
	margin: 0;
	padding: 0;
}

.clock-widget {
	border-top-left-radius: 18px;
	border-bottom-left-radius: 18px;
}

.apps-widget {
	padding: 0 2px;
	border-top-right-radius: 18px;
	border-bottom-right-radius: 18px;
}
.komorebi-active-layout {
	border-top-right-radius: 18px;
	border-bottom-right-radius: 18px;
	padding: 0 4px 0 0;
}

.komorebi-active-layout .label {
	font-weight: 600;
	padding: 2px 0 0 0;
}

.apps-widget .widget-container,
.komorebi-workspaces .widget-container,
.wifi-widget .widget-container,
.komorebi-active-layout .widget-container {
	background-color: #292929;
	margin: 4px 0px 4px 0;
	border-radius: 12px;
}
.apps-widget .widget-container {
    margin-right: 4px;
}
.komorebi-workspaces .ws-btn {
	font-size: 16px;
    background-color: transparent;
	margin: 0 4px 0 4px;
	color: #95a0ad;
    border: none;
	padding-left: 5px;
	background-color: #404040;
	padding-right: 5px;
	border-radius: 10px;
	transition: all 0.2s ease-in-out;
}
.komorebi-workspaces .ws-btn.populated {
	color: #dbd1c0;
	border-radius: 10px;

}
.komorebi-workspaces .ws-btn:hover,
.komorebi-workspaces .ws-btn.populated:hover,
.komorebi-workspaces .ws-btn.active {
	color: #292929;
	background-color: #dbd1c0;
    border-style: solid;
    border-radius: 11px;
	padding-left: 6px;
	padding-right: 6px;
}
.komorebi-workspaces .float-override {
    color: #0eb986;
    font-size: 14px;
    padding: 0 0 0 8px;
}
.apps-widget .label {
	font-size: 14px;
	padding: 0 2px;
}
.apps-widget .label:hover{
	color: #fff;
}
.battery .label{
	background-color: #579554 !important;
	border-style: none !important;
	border-radius: 5px !important;
}


.power-menu-widget .label {
	color: #dbd1c0;
	font-size: 13px;
}
.power-menu-popup {
	background-color: rgba(24, 24, 37, 0.9);
	border-radius: 12px;
	border: 4px solid rgb(41, 42, 58);
}
.power-menu-popup .button {
	padding: 0;
	width: 240px;
	height: 120px;
	border-radius: 8px;
	background-color: rgb(41, 42, 58);
	font-family: "Segoe UI";
	color: white;
	border: 1px solid rgba(255, 255, 255, 0.1);
	margin: 8px;
}
.power-menu-popup .button.hover {
	background-color: rgb(55, 56, 75);
	border: 1px solid rgb(55, 56, 75);
}
.power-menu-popup .button .label {
	margin-bottom: 8px;
	font-size: 16px;
	font-weight: 600;
	color: rgba(255, 255, 255, 0.95);
	font-family: "Segoe UI";
}
.power-menu-popup .button .icon {
	font-size: 48px;
	padding-top: 8px;
	color: rgba(255, 255, 255, 0.25);
}
.power-menu-popup .button.cancel .icon {
	color: rgba(243, 139, 168, 0.55);
}
.power-menu-popup .button.cancel .label {
	color: rgba(243, 139, 168, 0.95);
}
.power-menu-popup .button.shutdown .icon {
	color: rgba(137, 180, 250, 0.55);
}
.power-menu-popup .button.shutdown .label {
	color: rgba(137, 180, 250, 0.95);
}